In [1]:
import jupyterthemes as jt
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import sklearn.preprocessing 
warnings.filterwarnings("ignore")
import tensorflow as tf
jt.jtplot.style(theme="monokai", context="notebook",grid=True,ticks=True)
print("{}".format(tf.config.list_physical_devices("GPU")))

[PhysicalDevice(name='/physical_device:GPU:0', device_type='GPU')]

In [3]:
meal_info=pd.read_csv("meal_info.csv")

In [35]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import LabelEncoder


le=LabelEncoder()
meal_info["le_category"]=le.fit_transform(meal_info["category"])

categories=meal_info["le_category"].unique()
categories.sort()

category_list=list(le.inverse_transform(categories))

# column_transformer=ColumnTransformer([('encoder',OneHotEncoder(),[0])],remainder='passthrough')
# meal_info=np.array(column_transformer.fit_transform(meal_info))

In [14]:
meal_info

    meal_id      category      cuisine  le_category
0      1885     Beverages         Thai            0
1      1993     Beverages         Thai            0
2      2539     Beverages         Thai            0
3      1248     Beverages       Indian            0
4      2631     Beverages       Indian            0
5      1311        Extras         Thai            3
6      1062     Beverages      Italian            0
7      1778     Beverages      Italian            0
8      1803        Extras         Thai            3
9      1198        Extras         Thai            3
10     2707     Beverages      Italian            0
11     1847          Soup         Thai           12
12     1438          Soup         Thai           12
13     2494          Soup         Thai           12
14     2760  Other Snacks         Thai            5
15     2490         Salad      Italian            9
16     1109     Rice Bowl       Indian            8
17     2290     Rice Bowl       Indian            8
18     1525  Other Snacks         Thai            5
19     2704  Other Snacks         Thai            5
20     1878      Starters         Thai           13
21     2640      Starters         Thai           13
22     2577      Starters         Thai           13
23     1754      Sandwich      Italian           10
24     1971      Sandwich      Italian           10
25     2306         Pasta      Italian            6
26     2139     Beverages       Indian            0
27     2826      Sandwich      Italian           10
28     2664         Salad      Italian            9
29     2569         Salad      Italian            9
30     1230     Beverages  Continental            0
31     1207     Beverages  Continental            0
32     2322     Beverages  Continental            0
33     2492        Desert       Indian            2
34     1216         Pasta      Italian            6
35     1727     Rice Bowl       Indian            8
36     1902       Biryani       Indian            1
37     1247       Biryani       Indian            1
38     2304        Desert       Indian            2
39     1543        Desert       Indian            2
40     1770       Biryani       Indian            1
41     2126         Pasta      Italian            6
42     1558         Pizza  Continental            7
43     2581         Pizza  Continental            7
44     1962         Pizza  Continental            7
45     1571          Fish  Continental            4
46     2956          Fish  Continental            4
47     2104          Fish  Continental            4
48     2444       Seafood  Continental           11
49     2867       Seafood  Continental           11
50     1445       Seafood  Continental           11

In [42]:
one_hot_encode=OneHotEncoder()
ohe_frame=pd.DataFrame(one_hot_encode.fit_transform(meal_info[['le_category']]).toarray(),dtype=int,columns=category_list)
ohe_frame

,Beverages,Biryani,Desert,Extras,Fish,Other Snacks,Pasta,Pizza,Rice Bowl,Salad,Sandwich,Seafood,Soup,Starters
0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,0,0,0,0
5,0,0,0,1,0,0,0,0,0,0,0,0,0,0
6,1,0,0,0,0,0,0,0,0,0,0,0,0,0
7,1,0,0,0,0,0,0,0,0,0,0,0,0,0
8,0,0,0,1,0,0,0,0,0,0,0,0,0,0
9,0,0,0,1,0,0,0,0,0,0,0,0,0,0
10,1,0,0,0,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,0,0,1,0
12,0,0,0,0,0,0,0,0,0,0,0,0,1,0
13,0,0,0,0,0,0,0,0,0,0,0,0,1,0
14,0,0,0,0,0,1,0,0,0,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,1,0,0,0,0
16,0,0,0,0,0,0,0,0,1,0,0,0,0,0
17,0,0,0,0,0,0,0,0,1,0,0,0,0,0
18,0,0,0,0,0,1,0,0,0,0,0,0,0,0
19,0,0,0,0,0,1,0,0,0,0,0,0,0,0
20,0,0,0,0,0,0,0,0,0,0,0,0,0,1
21,0,0,0,0,0,0,0,0,0,0,0,0,0,1
22,0,0,0,0,0,0,0,0,0,0,0,0,0,1
23,0,0,0,0,0,0,0,0,0,0,1,0,0,0
24,0,0,0,0,0,0,0,0,0,0,1,0,0,0
25,0,0,0,0,0,0,1,0,0,0,0,0,0,0
26,1,0,0,0,0,0,0,0,0,0,0,0,0,0
27,0,0,0,0,0,0,0,0,0,0,1,0,0,0
28,0,0,0,0,0,0,0,0,0,1,0,0,0,0
29,0,0,0,0,0,0,0,0,0,1,0,0,0,0
30,1,0,0,0,0,0,0,0,0,0,0,0,0,0
31,1,0,0,0,0,0,0,0,0,0,0,0,0,0
32,1,0,0,0,0,0,0,0,0,0,0,0,0,0
33,0,0,1,0,0,0,0,0,0,0,0,0,0,0
34,0,0,0,0,0,0,1,0,0,0,0,0,0,0
35,0,0,0,0,0,0,0,0,1,0,0,0,0,0
36,0,1,0,0,0,0,0,0,0,0,0,0,0,0
37,0,1,0,0,0,0,0,0,0,0,0,0,0,0
38,0,0,1,0,0,0,0,0,0,0,0,0,0,0
39,0,0,1,0,0,0,0,0,0,0,0,0,0,0
40,0,1,0,0,0,0,0,0,0,0,0,0,0,0
41,0,0,0,0,0,0,1,0,0,0,0,0,0,0
42,0,0,0,0,0,0,0,1,0,0,0,0,0,0
43,0,0,0,0,0,0,0,1,0,0,0,0,0,0
44,0,0,0,0,0,0,0,1,0,0,0,0,0,0
45,0,0,0,0,1,0,0,0,0,0,0,0,0,0
46,0,0,0,0,1,0,0,0,0,0,0,0,0,0
47,0,0,0,0,1,0,0,0,0,0,0,0,0,0
48,0,0,0,0,0,0,0,0,0,0,0,1,0,0
49,0,0,0,0,0,0,0,0,0,0,0,1,0,0
50,0,0,0,0,0,0,0,0,0,0,0,1,0,0

In [44]:
meal_info=meal_info.join(ohe_frame)

,meal_id,category,cuisine,le_category,0,Beverages,Biryani,Desert,Extras,Fish,Other Snacks,Pasta,Pizza,Rice Bowl,Salad,Sandwich,Seafood,Soup,Starters
0,1885,Beverages,Thai,0,"(0, 0)\t1.0",1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1993,Beverages,Thai,0,"(0, 0)\t1.0",1,0,0,0,0,0,0,0,0,0,0,0,0,0
2,2539,Beverages,Thai,0,"(0, 0)\t1.0",1,0,0,0,0,0,0,0,0,0,0,0,0,0
3,1248,Beverages,Indian,0,"(0, 0)\t1.0",1,0,0,0,0,0,0,0,0,0,0,0,0,0
4,2631,Beverages,Indian,0,"(0, 0)\t1.0",1,0,0,0,0,0,0,0,0,0,0,0,0,0
5,1311,Extras,Thai,3,"(0, 3)\t1.0",0,0,0,1,0,0,0,0,0,0,0,0,0,0
6,1062,Beverages,Italian,0,"(0, 0)\t1.0",1,0,0,0,0,0,0,0,0,0,0,0,0,0
7,1778,Beverages,Italian,0,"(0, 0)\t1.0",1,0,0,0,0,0,0,0,0,0,0,0,0,0
8,1803,Extras,Thai,3,"(0, 3)\t1.0",0,0,0,1,0,0,0,0,0,0,0,0,0,0
9,1198,Extras,Thai,3,"(0, 3)\t1.0",0,0,0,1,0,0,0,0,0,0,0,0,0,0
10,2707,Beverages,Italian,0,"(0, 0)\t1.0",1,0,0,0,0,0,0,0,0,0,0,0,0,0
11,1847,Soup,Thai,12,"(0, 12)\t1.0",0,0,0,0,0,0,0,0,0,0,0,0,1,0
12,1438,Soup,Thai,12,"(0, 12)\t1.0",0,0,0,0,0,0,0,0,0,0,0,0,1,0
13,2494,Soup,Thai,12,"(0, 12)\t1.0",0,0,0,0,0,0,0,0,0,0,0,0,1,0
14,2760,Other Snacks,Thai,5,"(0, 5)\t1.0",0,0,0,0,0,1,0,0,0,0,0,0,0,0
15,2490,Salad,Italian,9,"(0, 9)\t1.0",0,0,0,0,0,0,0,0,0,1,0,0,0,0
16,1109,Rice Bowl,Indian,8,"(0, 8)\t1.0",0,0,0,0,0,0,0,0,1,0,0,0,0,0
17,2290,Rice Bowl,Indian,8,"(0, 8)\t1.0",0,0,0,0,0,0,0,0,1,0,0,0,0,0
18,1525,Other Snacks,Thai,5,"(0, 5)\t1.0",0,0,0,0,0,1,0,0,0,0,0,0,0,0
19,2704,Other Snacks,Thai,5,"(0, 5)\t1.0",0,0,0,0,0,1,0,0,0,0,0,0,0,0
20,1878,Starters,Thai,13,"(0, 13)\t1.0",0,0,0,0,0,0,0,0,0,0,0,0,0,1
21,2640,Starters,Thai,13,"(0, 13)\t1.0",0,0,0,0,0,0,0,0,0,0,0,0,0,1
22,2577,Starters,Thai,13,"(0, 13)\t1.0",0,0,0,0,0,0,0,0,0,0,0,0,0,1
23,1754,Sandwich,Italian,10,"(0, 10)\t1.0",0,0,0,0,0,0,0,0,0,0,1,0,0,0
24,1971,Sandwich,Italian,10,"(0, 10)\t1.0",0,0,0,0,0,0,0,0,0,0,1,0,0,0
25,2306,Pasta,Italian,6,"(0, 6)\t1.0",0,0,0,0,0,0,1,0,0,0,0,0,0,0
26,2139,Beverages,Indian,0,"(0, 0)\t1.0",1,0,0,0,0,0,0,0,0,0,0,0,0,0
27,2826,Sandwich,Italian,10,"(0, 10)\t1.0",0,0,0,0,0,0,0,0,0,0,1,0,0,0
28,2664,Salad,Italian,9,"(0, 9)\t1.0",0,0,0,0,0,0,0,0,0,1,0,0,0,0
29,2569,Salad,Italian,9,"(0, 9)\t1.0",0,0,0,0,0,0,0,0,0,1,0,0,0,0
30,1230,Beverages,Continental,0,"(0, 0)\t1.0",1,0,0,0,0,0,0,0,0,0,0,0,0,0
31,1207,Beverages,Continental,0,"(0, 0)\t1.0",1,0,0,0,0,0,0,0,0,0,0,0,0,0
32,2322,Beverages,Continental,0,"(0, 0)\t1.0",1,0,0,0,0,0,0,0,0,0,0,0,0,0
33,2492,Desert,Indian,2,"(0, 2)\t1.0",0,0,1,0,0,0,0,0,0,0,0,0,0,0
34,1216,Pasta,Italian,6,"(0, 6)\t1.0",0,0,0,0,0,0,1,0,0,0,0,0,0,0
35,1727,Rice Bowl,Indian,8,"(0, 8)\t1.0",0,0,0,0,0,0,0,0,1,0,0,0,0,0
36,1902,Biryani,Indian,1,"(0, 1)\t1.0",0,1,0,0,0,0,0,0,0,0,0,0,0,0
37,1247,Biryani,Indian,1,"(0, 1)\t1.0",0,1,0,0,0,0,0,0,0,0,0,0,0,0
38,2304,Desert,Indian,2,"(0, 2)\t1.0",0,0,1,0,0,0,0,0,0,0,0,0,0,0
39,1543,Desert,Indian,2,"(0, 2)\t1.0",0,0,1,0,0,0,0,0,0,0,0,0,0,0
40,1770,Biryani,Indian,1,"(0, 1)\t1.0",0,1,0,0,0,0,0,0,0,0,0,0,0,0
41,2126,Pasta,Italian,6,"(0, 6)\t1.0",0,0,0,0,0,0,1,0,0,0,0,0,0,0
42,1558,Pizza,Continental,7,"(0, 7)\t1.0",0,0,0,0,0,0,0,1,0,0,0,0,0,0
43,2581,Pizza,Continental,7,"(0, 7)\t1.0",0,0,0,0,0,0,0,1,0,0,0,0,0,0
44,1962,Pizza,Continental,7,"(0, 7)\t1.0",0,0,0,0,0,0,0,1,0,0,0,0,0,0
45,1571,Fish,Continental,4,"(0, 4)\t1.0",0,0,0,0,1,0,0,0,0,0,0,0,0,0
46,2956,Fish,Continental,4,"(0, 4)\t1.0",0,0,0,0,1,0,0,0,0,0,0,0,0,0
47,2104,Fish,Continental,4,"(0, 4)\t1.0",0,0,0,0,1,0,0,0,0,0,0,0,0,0
48,2444,Seafood,Continental,11,"(0, 11)\t1.0",0,0,0,0,0,0,0,0,0,0,0,1,0,0
49,2867,Seafood,Continental,11,"(0, 11)\t1.0",0,0,0,0,0,0,0,0,0,0,0,1,0,0
50,1445,Seafood,Continental,11,"(0, 11)\t1.0",0,0,0,0,0,0,0,0,0,0,0,1,0,0

In [48]:
meal_info.drop(0,axis=1,inplace=True)

KeyError: '[0] not found in axis'

In [49]:
meal_info

,meal_id,category,cuisine,le_category,Beverages,Biryani,Desert,Extras,Fish,Other Snacks,Pasta,Pizza,Rice Bowl,Salad,Sandwich,Seafood,Soup,Starters
0,1885,Beverages,Thai,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1993,Beverages,Thai,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
2,2539,Beverages,Thai,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
3,1248,Beverages,Indian,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
4,2631,Beverages,Indian,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
5,1311,Extras,Thai,3,0,0,0,1,0,0,0,0,0,0,0,0,0,0
6,1062,Beverages,Italian,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
7,1778,Beverages,Italian,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
8,1803,Extras,Thai,3,0,0,0,1,0,0,0,0,0,0,0,0,0,0
9,1198,Extras,Thai,3,0,0,0,1,0,0,0,0,0,0,0,0,0,0
10,2707,Beverages,Italian,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
11,1847,Soup,Thai,12,0,0,0,0,0,0,0,0,0,0,0,0,1,0
12,1438,Soup,Thai,12,0,0,0,0,0,0,0,0,0,0,0,0,1,0
13,2494,Soup,Thai,12,0,0,0,0,0,0,0,0,0,0,0,0,1,0
14,2760,Other Snacks,Thai,5,0,0,0,0,0,1,0,0,0,0,0,0,0,0
15,2490,Salad,Italian,9,0,0,0,0,0,0,0,0,0,1,0,0,0,0
16,1109,Rice Bowl,Indian,8,0,0,0,0,0,0,0,0,1,0,0,0,0,0
17,2290,Rice Bowl,Indian,8,0,0,0,0,0,0,0,0,1,0,0,0,0,0
18,1525,Other Snacks,Thai,5,0,0,0,0,0,1,0,0,0,0,0,0,0,0
19,2704,Other Snacks,Thai,5,0,0,0,0,0,1,0,0,0,0,0,0,0,0
20,1878,Starters,Thai,13,0,0,0,0,0,0,0,0,0,0,0,0,0,1
21,2640,Starters,Thai,13,0,0,0,0,0,0,0,0,0,0,0,0,0,1
22,2577,Starters,Thai,13,0,0,0,0,0,0,0,0,0,0,0,0,0,1
23,1754,Sandwich,Italian,10,0,0,0,0,0,0,0,0,0,0,1,0,0,0
24,1971,Sandwich,Italian,10,0,0,0,0,0,0,0,0,0,0,1,0,0,0
25,2306,Pasta,Italian,6,0,0,0,0,0,0,1,0,0,0,0,0,0,0
26,2139,Beverages,Indian,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
27,2826,Sandwich,Italian,10,0,0,0,0,0,0,0,0,0,0,1,0,0,0
28,2664,Salad,Italian,9,0,0,0,0,0,0,0,0,0,1,0,0,0,0
29,2569,Salad,Italian,9,0,0,0,0,0,0,0,0,0,1,0,0,0,0
30,1230,Beverages,Continental,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
31,1207,Beverages,Continental,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
32,2322,Beverages,Continental,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
33,2492,Desert,Indian,2,0,0,1,0,0,0,0,0,0,0,0,0,0,0
34,1216,Pasta,Italian,6,0,0,0,0,0,0,1,0,0,0,0,0,0,0
35,1727,Rice Bowl,Indian,8,0,0,0,0,0,0,0,0,1,0,0,0,0,0
36,1902,Biryani,Indian,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0
37,1247,Biryani,Indian,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0
38,2304,Desert,Indian,2,0,0,1,0,0,0,0,0,0,0,0,0,0,0
39,1543,Desert,Indian,2,0,0,1,0,0,0,0,0,0,0,0,0,0,0
40,1770,Biryani,Indian,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0
41,2126,Pasta,Italian,6,0,0,0,0,0,0,1,0,0,0,0,0,0,0
42,1558,Pizza,Continental,7,0,0,0,0,0,0,0,1,0,0,0,0,0,0
43,2581,Pizza,Continental,7,0,0,0,0,0,0,0,1,0,0,0,0,0,0
44,1962,Pizza,Continental,7,0,0,0,0,0,0,0,1,0,0,0,0,0,0
45,1571,Fish,Continental,4,0,0,0,0,1,0,0,0,0,0,0,0,0,0
46,2956,Fish,Continental,4,0,0,0,0,1,0,0,0,0,0,0,0,0,0
47,2104,Fish,Continental,4,0,0,0,0,1,0,0,0,0,0,0,0,0,0
48,2444,Seafood,Continental,11,0,0,0,0,0,0,0,0,0,0,0,1,0,0
49,2867,Seafood,Continental,11,0,0,0,0,0,0,0,0,0,0,0,1,0,0
50,1445,Seafood,Continental,11,0,0,0,0,0,0,0,0,0,0,0,1,0,0

In [51]:
meal_info["cuisine_transform"]=le.fit_transform(meal_info["cuisine"])

In [54]:
meal_info

,meal_id,category,cuisine,le_category,Beverages,Biryani,Desert,Extras,Fish,Other Snacks,Pasta,Pizza,Rice Bowl,Salad,Sandwich,Seafood,Soup,Starters,cuisine_transform
0,1885,Beverages,Thai,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,3
1,1993,Beverages,Thai,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,3
2,2539,Beverages,Thai,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,3
3,1248,Beverages,Indian,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1
4,2631,Beverages,Indian,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1
5,1311,Extras,Thai,3,0,0,0,1,0,0,0,0,0,0,0,0,0,0,3
6,1062,Beverages,Italian,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,2
7,1778,Beverages,Italian,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,2
8,1803,Extras,Thai,3,0,0,0,1,0,0,0,0,0,0,0,0,0,0,3
9,1198,Extras,Thai,3,0,0,0,1,0,0,0,0,0,0,0,0,0,0,3
10,2707,Beverages,Italian,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,2
11,1847,Soup,Thai,12,0,0,0,0,0,0,0,0,0,0,0,0,1,0,3
12,1438,Soup,Thai,12,0,0,0,0,0,0,0,0,0,0,0,0,1,0,3
13,2494,Soup,Thai,12,0,0,0,0,0,0,0,0,0,0,0,0,1,0,3
14,2760,Other Snacks,Thai,5,0,0,0,0,0,1,0,0,0,0,0,0,0,0,3
15,2490,Salad,Italian,9,0,0,0,0,0,0,0,0,0,1,0,0,0,0,2
16,1109,Rice Bowl,Indian,8,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1
17,2290,Rice Bowl,Indian,8,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1
18,1525,Other Snacks,Thai,5,0,0,0,0,0,1,0,0,0,0,0,0,0,0,3
19,2704,Other Snacks,Thai,5,0,0,0,0,0,1,0,0,0,0,0,0,0,0,3
20,1878,Starters,Thai,13,0,0,0,0,0,0,0,0,0,0,0,0,0,1,3
21,2640,Starters,Thai,13,0,0,0,0,0,0,0,0,0,0,0,0,0,1,3
22,2577,Starters,Thai,13,0,0,0,0,0,0,0,0,0,0,0,0,0,1,3
23,1754,Sandwich,Italian,10,0,0,0,0,0,0,0,0,0,0,1,0,0,0,2
24,1971,Sandwich,Italian,10,0,0,0,0,0,0,0,0,0,0,1,0,0,0,2
25,2306,Pasta,Italian,6,0,0,0,0,0,0,1,0,0,0,0,0,0,0,2
26,2139,Beverages,Indian,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1
27,2826,Sandwich,Italian,10,0,0,0,0,0,0,0,0,0,0,1,0,0,0,2
28,2664,Salad,Italian,9,0,0,0,0,0,0,0,0,0,1,0,0,0,0,2
29,2569,Salad,Italian,9,0,0,0,0,0,0,0,0,0,1,0,0,0,0,2
30,1230,Beverages,Continental,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
31,1207,Beverages,Continental,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
32,2322,Beverages,Continental,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
33,2492,Desert,Indian,2,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1
34,1216,Pasta,Italian,6,0,0,0,0,0,0,1,0,0,0,0,0,0,0,2
35,1727,Rice Bowl,Indian,8,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1
36,1902,Biryani,Indian,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1
37,1247,Biryani,Indian,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1
38,2304,Desert,Indian,2,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1
39,1543,Desert,Indian,2,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1
40,1770,Biryani,Indian,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1
41,2126,Pasta,Italian,6,0,0,0,0,0,0,1,0,0,0,0,0,0,0,2
42,1558,Pizza,Continental,7,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
43,2581,Pizza,Continental,7,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
44,1962,Pizza,Continental,7,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
45,1571,Fish,Continental,4,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
46,2956,Fish,Continental,4,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
47,2104,Fish,Continental,4,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
48,2444,Seafood,Continental,11,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
49,2867,Seafood,Continental,11,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
50,1445,Seafood,Continental,11,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0

In [57]:
from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier()
model.fit(ohe_frame,meal_info["cuisine_transform"])

DecisionTreeClassifier()

In [65]:
prediction=model.predict([[0,0,0,1,0,0,0,0,0,0,0,0,0,0]])
le.inverse_transform(prediction)

array(['Thai'], dtype=object)