In [4]:
import jupyterthemes as jt
import re
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import sklearn.preprocessing 
warnings.filterwarnings("ignore")
import tensorflow as tf
jt.jtplot.style(theme="monokai", context="notebook",grid=True,ticks=True)
if tf.config.list_physical_devices("GPU"):
    print("{}".format(tf.config.list_physical_devices("GPU")))
else:
    print("{}".format(tf.config.list_physical_devices("CPU")))

[PhysicalDevice(name='/physical_device:CPU:0', device_type='CPU')]

In [29]:
meal_info=pd.read_csv("meal_info.csv")

In [30]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import LabelEncoder


le=LabelEncoder()
meal_info["le_category"]=le.fit_transform(meal_info["category"])

categories=meal_info["le_category"].unique()
categories.sort()

category_list=list(le.inverse_transform(categories))

# column_transformer=ColumnTransformer([('encoder',OneHotEncoder(),[0])],remainder='passthrough')
# meal_info=np.array(column_transformer.fit_transform(meal_info))

In [31]:
meal_info

    meal_id      category      cuisine  le_category
0      1885     Beverages         Thai            0
1      1993     Beverages         Thai            0
2      2539     Beverages         Thai            0
3      1248     Beverages       Indian            0
4      2631     Beverages       Indian            0
5      1311        Extras         Thai            3
6      1062     Beverages      Italian            0
7      1778     Beverages      Italian            0
8      1803        Extras         Thai            3
9      1198        Extras         Thai            3
10     2707     Beverages      Italian            0
11     1847          Soup         Thai           12
12     1438          Soup         Thai           12
13     2494          Soup         Thai           12
14     2760  Other Snacks         Thai            5
15     2490         Salad      Italian            9
16     1109     Rice Bowl       Indian            8
17     2290     Rice Bowl       Indian            8
18     1525  Other Snacks         Thai            5
19     2704  Other Snacks         Thai            5
20     1878      Starters         Thai           13
21     2640      Starters         Thai           13
22     2577      Starters         Thai           13
23     1754      Sandwich      Italian           10
24     1971      Sandwich      Italian           10
25     2306         Pasta      Italian            6
26     2139     Beverages       Indian            0
27     2826      Sandwich      Italian           10
28     2664         Salad      Italian            9
29     2569         Salad      Italian            9
30     1230     Beverages  Continental            0
31     1207     Beverages  Continental            0
32     2322     Beverages  Continental            0
33     2492        Desert       Indian            2
34     1216         Pasta      Italian            6
35     1727     Rice Bowl       Indian            8
36     1902       Biryani       Indian            1
37     1247       Biryani       Indian            1
38     2304        Desert       Indian            2
39     1543        Desert       Indian            2
40     1770       Biryani       Indian            1
41     2126         Pasta      Italian            6
42     1558         Pizza  Continental            7
43     2581         Pizza  Continental            7
44     1962         Pizza  Continental            7
45     1571          Fish  Continental            4
46     2956          Fish  Continental            4
47     2104          Fish  Continental            4
48     2444       Seafood  Continental           11
49     2867       Seafood  Continental           11
50     1445       Seafood  Continental           11

In [32]:
one_hot_encode=OneHotEncoder()
ohe_frame=pd.DataFrame(one_hot_encode.fit_transform(meal_info[['le_category']]).toarray(),dtype=int,columns=category_list)
#meal_info=meal_info.join(ohe_frame)
# meal_info.drop(0,axis=1,inplace=True)
meal_info

    meal_id      category      cuisine  le_category
0      1885     Beverages         Thai            0
1      1993     Beverages         Thai            0
2      2539     Beverages         Thai            0
3      1248     Beverages       Indian            0
4      2631     Beverages       Indian            0
5      1311        Extras         Thai            3
6      1062     Beverages      Italian            0
7      1778     Beverages      Italian            0
8      1803        Extras         Thai            3
9      1198        Extras         Thai            3
10     2707     Beverages      Italian            0
11     1847          Soup         Thai           12
12     1438          Soup         Thai           12
13     2494          Soup         Thai           12
14     2760  Other Snacks         Thai            5
15     2490         Salad      Italian            9
16     1109     Rice Bowl       Indian            8
17     2290     Rice Bowl       Indian            8
18     1525  Other Snacks         Thai            5
19     2704  Other Snacks         Thai            5
20     1878      Starters         Thai           13
21     2640      Starters         Thai           13
22     2577      Starters         Thai           13
23     1754      Sandwich      Italian           10
24     1971      Sandwich      Italian           10
25     2306         Pasta      Italian            6
26     2139     Beverages       Indian            0
27     2826      Sandwich      Italian           10
28     2664         Salad      Italian            9
29     2569         Salad      Italian            9
30     1230     Beverages  Continental            0
31     1207     Beverages  Continental            0
32     2322     Beverages  Continental            0
33     2492        Desert       Indian            2
34     1216         Pasta      Italian            6
35     1727     Rice Bowl       Indian            8
36     1902       Biryani       Indian            1
37     1247       Biryani       Indian            1
38     2304        Desert       Indian            2
39     1543        Desert       Indian            2
40     1770       Biryani       Indian            1
41     2126         Pasta      Italian            6
42     1558         Pizza  Continental            7
43     2581         Pizza  Continental            7
44     1962         Pizza  Continental            7
45     1571          Fish  Continental            4
46     2956          Fish  Continental            4
47     2104          Fish  Continental            4
48     2444       Seafood  Continental           11
49     2867       Seafood  Continental           11
50     1445       Seafood  Continental           11

In [92]:
meal_info["cuisine_transform"]=le.fit_transform(meal_info["cuisine"])
categories=meal_info["cuisine_transform"].unique()
categories.sort()
cuisine_list=list(le.inverse_transform(categories))
meal_info

    meal_id      category      cuisine  le_category  cuisine_transform
0      1885     Beverages         Thai            0                  3
1      1993     Beverages         Thai            0                  3
2      2539     Beverages         Thai            0                  3
3      1248     Beverages       Indian            0                  1
4      2631     Beverages       Indian            0                  1
5      1311        Extras         Thai            3                  3
6      1062     Beverages      Italian            0                  2
7      1778     Beverages      Italian            0                  2
8      1803        Extras         Thai            3                  3
9      1198        Extras         Thai            3                  3
10     2707     Beverages      Italian            0                  2
11     1847          Soup         Thai           12                  3
12     1438          Soup         Thai           12                  3
13     2494          Soup         Thai           12                  3
14     2760  Other Snacks         Thai            5                  3
15     2490         Salad      Italian            9                  2
16     1109     Rice Bowl       Indian            8                  1
17     2290     Rice Bowl       Indian            8                  1
18     1525  Other Snacks         Thai            5                  3
19     2704  Other Snacks         Thai            5                  3
20     1878      Starters         Thai           13                  3
21     2640      Starters         Thai           13                  3
22     2577      Starters         Thai           13                  3
23     1754      Sandwich      Italian           10                  2
24     1971      Sandwich      Italian           10                  2
25     2306         Pasta      Italian            6                  2
26     2139     Beverages       Indian            0                  1
27     2826      Sandwich      Italian           10                  2
28     2664         Salad      Italian            9                  2
29     2569         Salad      Italian            9                  2
30     1230     Beverages  Continental            0                  0
31     1207     Beverages  Continental            0                  0
32     2322     Beverages  Continental            0                  0
33     2492        Desert       Indian            2                  1
34     1216         Pasta      Italian            6                  2
35     1727     Rice Bowl       Indian            8                  1
36     1902       Biryani       Indian            1                  1
37     1247       Biryani       Indian            1                  1
38     2304        Desert       Indian            2                  1
39     1543        Desert       Indian            2                  1
40     1770       Biryani       Indian            1                  1
41     2126         Pasta      Italian            6                  2
42     1558         Pizza  Continental            7                  0
43     2581         Pizza  Continental            7                  0
44     1962         Pizza  Continental            7                  0
45     1571          Fish  Continental            4                  0
46     2956          Fish  Continental            4                  0
47     2104          Fish  Continental            4                  0
48     2444       Seafood  Continental           11                  0
49     2867       Seafood  Continental           11                  0
50     1445       Seafood  Continental           11                  0

In [64]:
temp_dataframe=pd.DataFrame(le.fit_transform(meal_info["category"]),columns=["le_category"])
temp_dataframe["cuisine_transform"]=le.fit_transform(meal_info["cuisine"])
from sklearn.compose import ColumnTransformer
meal_info.join(pd.get_dummies(temp_dataframe,columns=temp_dataframe.columns))
y_train=pd.get_dummies(temp_dataframe,columns=temp_dataframe.columns)
x_train=np.array(meal_info["meal_id"]).reshape(-1,1)
from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier()
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [94]:
prediction=model.predict([[1445]])
#le.inverse_transform(prediction)
prediction=prediction.flatten()
print(prediction)

[0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0]

In [95]:
meal_category_list=y_train.columns.to_list()
numerical_predicted_category=[]
for category in range(len(prediction)):
    if prediction[category]== 1:
        res=re.sub(r'[^\d]+',"",meal_category_list[category])
        numerical_predicted_category.append(res)
print(numerical_predicted_category)
predicted_category=[]
for category in range(len(category_list)):
    if category ==prediction[0]:
        predicted_category.append(category_list[category])
for category in range(len(cuisine_list)):
    if category ==prediction[1]:
        predicted_category.append(cuisine_list[category])
print(predicted_category)

['11', '0']
['Beverages', 'Continental']

In [97]:
from joblib import dump
dump(model,'meal_predictor.pkl')

['meal_predictor.pkl']